.advantages
  .l-container
    .l-row
      h2 Преимущества KillerFat
    .l-row.advantages__items-wrapper
      .advantages__item
        .advantages-item__num 01
        .advantages-item__text Натуральные свежие продукты

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Обновление меню каждые <br> 3 недели

      .advantages__item
        .advantages-item__num 03
        .advantages-item__text Бесплатная консультация нутрициолога

      .advantages__item
        .advantages-item__num 04
        .advantages-item__text Сбалансированный рацион каждый день

      .advantages__item
        .advantages-item__num 05
        .advantages-item__text Здоровье и тонус без лишних хлопот

      .advantages__item
        .advantages-item__num 06
        .advantages-item__text Меню разработано соместно с диетологами и шеф-поваром

      .advantages__item
        .advantages-item__num 07
        .advantages-item__text Больше дней – больше скидка

      .advantages__item
        .advantages-item__num 08
        .advantages-item__text Ежедневная бесплатная доставка по Москве и ближнему подмосковью

