.advantages
  .l-container
    .l-row
      h2 Преимущества KillerFat
    .l-row.advantages__items-wrapper
      .advantages__item
        .advantages-item__num 01
        .advantages-item__text Обновление меню каждые <br> 3 недели

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Бесплатная консультация нутрициолога

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Бесплатная консультация нутрициолога

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Бесплатная консультация нутрициолога

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Бесплатная консультация нутрициолога

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Бесплатная консультация нутрициолога

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Бесплатная консультация нутрициолога

      .advantages__item
        .advantages-item__num 02
        .advantages-item__text Бесплатная консультация нутрициолога

