.contact
  .l-container
    .l-row
      .contact__facilities
        .contact-facility__item
          img(src="/img/icons/calendar.svg" alt="").contact-facility-item__icon
          .contact-facility-item__info 
            h4 Привозим ежедневно
            p С 19:00 до 23:00. Нужно другое время или точный час? Постараемся, но не гарантируем.
            
        .contact-facility__item
          img(src="/img/icons/calendar.svg" alt="").contact-facility-item__icon
          .contact-facility-item__info 
            h4 Привозим ежедневно
            p С 19:00 до 23:00. Нужно другое время или точный час? Постараемся, но не гарантируем.

        .contact-facility__item
          img(src="/img/icons/calendar.svg" alt="").contact-facility-item__icon
          .contact-facility-item__info 
            h4 Привозим ежедневно
            p С 19:00 до 23:00. Нужно другое время или точный час? Постараемся, но не гарантируем.

        .contact-facility__item
          img(src="/img/icons/calendar.svg" alt="").contact-facility-item__icon
          .contact-facility-item__info 
            h4 Привозим ежедневно
            p С 19:00 до 23:00. Нужно другое время или точный час? Постараемся, но не гарантируем.

      .l-spacer

      .contact__form
        h2 Отправить заявку
        span Мы перезвоним вам ответим на любые вопросы

        .text-field 
          span.text-field__label Имя
          input(type="text" placeholder="Александр").text-field__input
          span.text-field__hint

        .text-field 
          span.text-field__label Телефон
          input(type="text" placeholder="+9 (___) ___-__-__").text-field__input
          span.text-field__hint

        span 
          | Нажимая кнопку “Отправить”, я соглашаюсь с условиями 
          a(href="#") Политики Конфиденциальности сайта

        a.btn Отправить



      