.footer
  .l-container
    .l-row.footer__first-row
      a(href="#contact").footer__payment
        span Оплачивайте заказы с любой карты
        .footer__payment-icons
          img(src="/img/icons/visa.svg" alt="")
          img(src="/img/icons/master-card.svg" alt="")
          img(src="/img/icons/mir.svg" alt="")

      .l-spacer
      
      .footer__contacts
        h5.font-weight-bold: a(href="tel:8 (999) 220-35-35") 8 (999) 220-35-35
        p.font-size-14 Ежедневно с 11:00 до 23:00
        
      .footer__btn
        a(href="#contact").btn.btn--small Заказать звонок

      .footer__socials
        a(href="https://www.instagram.com/killerfat.msk/" target="_blank"): img(src="/img/icons/instagram.svg" alt="")
        a(href="https://fb.me/killerfat.msk" target="_blank"): img(src="/img/icons/facebook.svg" alt="")

    .l-row
      .footer__address ООО «КУЛЬТФУД.РУ» <br>124460, Москва, г. Зеленоград <br> пр-кт Генерала Алексеева, д. 42, корп./ст.с2, кв./оф.2а /6
    
    .l-row.footer__low
      p KillerFat © 2019. Все права защищены
      .l-spacer
      p: a(href="#").underlined Политика конфиденциальности
      