.footer
  .l-container
    .l-row
      .footer__payment
        span Оплачивайте заказы с любой карты
        .footer__payment-icons
          img(src="/img/icons/visa.svg" alt="")
          img(src="/img/icons/visa.svg" alt="")
          img(src="/img/icons/visa.svg" alt="")

      .l-spacer
      
      .footer__contacts
        h5 8 (999) 220-35-35
        p Ежедневно с 11:00 до 23:00
        
      .footer__btn
        a.btn.btn--small Заказать звонок

      .footer__socials
        img(src="/img/icons/instagram.svg" alt="")
        img(src="/img/icons/instagram.svg" alt="")

    .l-row
      .footer__address ООО «КУЛЬТФУД.РУ» <br>124460, Москва, г. Зеленоград <br> пр-кт Генерала Алексеева, д. 42, корп./ст.с2, кв./оф.2а /6
    
    .l-row
      p KillerFat © 2019. Все права защищены
      .l-spacer
      p: a(href="#") Политика конфиденциальности
      