.gallery
  .l-container
    .l-row
      h2 Killer-Fat – не только вкусно, но и красиво
    .l-row.gallery__images-wrapper
      .gallery__image-item: img(src="/img/dishes/dish1.jpg" alt="")
      .gallery__image-item: img(src="/img/dishes/dish1.jpg" alt="")
      .gallery__image-item: img(src="/img/dishes/dish1.jpg" alt="")
      .gallery__image-item: img(src="/img/dishes/dish1.jpg" alt="")
      .gallery__image-item: img(src="/img/dishes/dish1.jpg" alt="")
      .gallery__image-item: img(src="/img/dishes/dish1.jpg" alt="")

      