.hat
  .l-container
    .l-row.hat__row
      h1 Доставка блюд здоровой кухни
      h4.text-primary-l-4.font-weight-200.mt-3 Питаться правильно – легко
      .hat__offer
        a.btn Выбрать план питания
        .hat-offer__about
          h3 От 1190р./день
          p Больше дней – больше скидка
      