.menu
  .l-container
    .l-row.menu__headline-row.align-center
      h2: a(name="menu") Меню
      .l-spacer
      .menu__call-us
        p Не можете выбрать? Закажите бесплатную консультацию по питанию со специалистами
        a(href="#contact").btn.btn--small Заказать консультацию
    .l-row.menu__row
      .menu__menu-item(data-order-name="Питание в офисе" data-order-kkal="1200 ККАЛ")
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Питание в офисе
          
      .menu__menu-item(data-order-name="Похудение" data-order-kkal="1500 ККАЛ")
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Похудение

      .menu__menu-item(data-order-name="Сохранение формы" data-order-kkal="1700 ККАЛ")
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Сохранение формы
          span Контроль массы

      .menu__menu-item(data-order-name="Мышечный рост" data-order-kkal="3000 ККАЛ")
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Мышечный рост
          span Набор массы

      .menu__menu-item(data-order-name="Комбо" data-order-kkal="4000 ККАЛ")
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Комбо
          span Для двоих

    .l-row
      h2 Цели

    .l-row.menu__row
      .menu__target-item(data-order-name="1100 ККАЛ")
        .menu-target__aim
        .menu-target__calories 1100
        span ккал
        
      .menu__target-item(data-order-name="1500 ККАЛ")
        .menu-target__aim
        .menu-target__calories 1500
        span ккал

      .menu__target-item(data-order-name="2250 ККАЛ")
        .menu-target__aim
        .menu-target__calories 2250
        span ккал

      .menu__target-item(data-order-name="3000 ККАЛ")
        .menu-target__aim
        .menu-target__calories 3000
        span ккал

      .menu__target-item(data-order-name="3750 ККАЛ")
        .menu-target__aim
        .menu-target__calories 3750
        span ккал


      