.menu
  .l-container
    .l-row.menu__headline-row.align-center
      h2 Меню
      .l-spacer
      .menu__call-us
        p Не можете выбрать? Закажите бесплатную консультацию по питанию со специалистами
        a.btn.btn--small Заказать консультацию
    .l-row.menu__row
      .menu__menu-item
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Питание в офисе
          span Контроль массы
          
      .menu__menu-item
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Питание в офисе
          span Контроль массы

      .menu__menu-item
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Питание в офисе
          span Контроль массы

      .menu__menu-item
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Питание в офисе
          span Контроль массы

      .menu__menu-item
        img.menu-item__image(src="/img/food.png" alt="")
        .menu-item__name
          p Питание в офисе
          span Контроль массы

    .l-row
      h2 Цели

    .l-row.menu__row
      .menu__target-item
        .menu-target__aim
        .menu-target__calories 1100
        span ккал
        
      .menu__target-item
        .menu-target__aim
        .menu-target__calories 1100
        span ккал

      .menu__target-item
        .menu-target__aim
        .menu-target__calories 1100
        span ккал

      .menu__target-item
        .menu-target__aim
        .menu-target__calories 1100
        span ккал

      .menu__target-item
        .menu-target__aim
        .menu-target__calories 1100
        span ккал


      