.questions
  .l-container
    .l-row
      h2 Ответы на воросы
    .l-row.questions__items-wrapper
      .questions__group
        span.capture Программа питания
        .questions__item
          h4 
            span +
            | Как понять, что и когда есть?
          p Мы подписываем каждый контейнер, чтобы вы легко разобрались с приемами пищи. Рекомендуем питаться каждые 2,5 – 3 часа.
          
        .questions__item
          h4 
            span +
            | Как понять, что и когда есть?
          p Мы подписываем каждый контейнер, чтобы вы легко разобрались с приемами пищи. Рекомендуем питаться каждые 2,5 – 3 часа.

        .questions__item
          h4 
            span +
            | Как понять, что и когда есть?
          p Мы подписываем каждый контейнер, чтобы вы легко разобрались с приемами пищи. Рекомендуем питаться каждые 2,5 – 3 часа.
        
      .questions__group
        span.capture Программа питания
        .questions__item
          h4 
            span +
            | Как понять, что и когда есть?
          p Мы подписываем каждый контейнер, чтобы вы легко разобрались с приемами пищи. Рекомендуем питаться каждые 2,5 – 3 часа.
          
        .questions__item
          h4 
            span +
            | Как понять, что и когда есть?
          p Мы подписываем каждый контейнер, чтобы вы легко разобрались с приемами пищи. Рекомендуем питаться каждые 2,5 – 3 часа.

        .questions__item
          h4 
            span +
            | Как понять, что и когда есть?
          p Мы подписываем каждый контейнер, чтобы вы легко разобрались с приемами пищи. Рекомендуем 
        
          
      