.ration
  .l-container
    .l-row
      .ration__menu
        h4.font-weight-bold Рацион на ближайшую неделю
        .ration-menu__dates
          span.active Сегодня
          span 19.11
          span 20.11
          span 21.11
          span 22.11
          span 23.11
          span 24.11
        .ration-menu__dishes-wrapper
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ


      .l-spacer

      .ration__plans
        h3.ration-plans__title Питание в офисе
        p.mt-3.capture.font-weight-200 1200 ККАЛ

        p.font-size-14.text-primary-l-2.mt-12 Выберите тариф:
        .ration__plan-item
          .ration-plan-item__duration 5 дней
          .ration-plan-item__discount Выгода 5%
          .l-spacer
          .ration-plan-item__price 1190руб.
        .ration__plan-item.active
          .ration-plan-item__duration 5 дней
          .ration-plan-item__discount Выгода 5%
          .l-spacer
          .ration-plan-item__price 1190руб.
        .ration__plan-item
          .ration-plan-item__duration 5 дней
          .ration-plan-item__discount +7 дней бесплатно
          .l-spacer
          .ration-plan-item__price 35 190руб.
        
        .ration__total 
          | Итого: 
          span.font-weight-200 35 990руб.

        p.my-4.text-primary-l-2.font-size-16 За 7 дней питания по плану “Питание в офисе” 
        a.btn.mt-8.ration__order-btn Заказать
      