.ration
  .l-container
    .l-row
      .ration__menu
        h4.font-weight-bold Рацион на ближайшую неделю
        .ration-menu__dates
          span(data-ration-num-trigger="0").active Сегодня



        //- DISHES GROUP
        .ration-menu__dishes-wrapper(data-ration-num="0").active
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish1.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ




        //- DISH GROUP
        .ration-menu__dishes-wrapper(data-ration-num="1")
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ



        //- DISH GROUP
        .ration-menu__dishes-wrapper(data-ration-num="2")
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish3.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish3.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish3.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish3.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish3.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish3.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ



        //- DISH GROUP
        .ration-menu__dishes-wrapper(data-ration-num="3")
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish4.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish4.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish4.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish4.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish4.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish4.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ



        //- DISH GROUP
        .ration-menu__dishes-wrapper(data-ration-num="4")
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish5.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish5.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish5.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish5.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish5.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish5.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ



        //- DISH GROUP
        .ration-menu__dishes-wrapper(data-ration-num="5")
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish6.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish6.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish6.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish6.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish6.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish6.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ



        //- DISH GROUP
        .ration-menu__dishes-wrapper(data-ration-num="6")
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ
                
          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

          .ration-menu__dish-item
            img.ration-menu-dish-item__image(src="/img/dishes/dish2.jpg" alt="")
            .ration-menu-dish-item__desc
              p.ration-menu-dish-item__title Панини с овощами
              p.capture Хлеб тостовый, сыр, салат айсберг, помидоры, огурцы, лук репчатый
              .d-flex.wrap
                table
                  tr
                    td Б:
                    td 11,0г
                  tr
                    td Ж:
                    td 42,0г
                  tr
                    td У:
                    td 21,0г
                .l-spacer
                span.ration-menu-dish-item__calories 544 ККАЛ

      .l-spacer

      .ration__plans
        h3.ration-plans__title#rationName Питание в офисе
        p.mt-3.capture.font-weight-200#rationInfo 1200 ККАЛ

        p.font-size-14.text-primary-l-2.mt-12 Выберите тариф:
        .ration__plan-item(data-plan-price="1190руб." data-plan-days="1 день").active
          .ration-plan-item__duration 1 день
          .ration-plan-item__discount 
          .l-spacer
          .ration-plan-item__price 1190руб.

        .ration__plan-item(data-plan-price="5695руб." data-plan-days="5 дней")
          .ration-plan-item__duration 5 дней
          .ration-plan-item__discount Выгода 5%
          .l-spacer
          .ration-plan-item__price 5695руб.

        .ration__plan-item(data-plan-price="7805руб." data-plan-days="7 дней")
          .ration-plan-item__duration 7 дней
          .ration-plan-item__discount Выгода 7%
          .l-spacer
          .ration-plan-item__price 7805руб.

        .ration__plan-item(data-plan-price="16786руб." data-plan-days="14 + 2 дня")
          .ration-plan-item__duration 14 дней
          .ration-plan-item__discount +2 дня бесплатно
          .l-spacer
          .ration-plan-item__price 16786руб.

        .ration__plan-item(data-plan-price="35970руб." data-plan-days="30 + 7 дней")
          .ration-plan-item__duration 30 дней
          .ration-plan-item__discount +7 дней бесплатно
          .l-spacer
          .ration-plan-item__price 35970руб.
        
        .ration__total 
          | Итого: 
          span.font-weight-200#orderSum 1190руб.  

        a.btn.mt-8.ration__order-btn#showModal Заказать
      