.reviews
  .l-container
    .l-row
      h2 Отзывы наших клиентов
    .l-row.reviews__items-wrapper
      .reviews__item
        h4 Ирина Зарубина
        p Я достигла своей главной цели – снижения веса, питаюсь набором «Лайт» 20 недель и с тем, что было, когда я просто ходила на тренировки 2 раза в неделю, не сравнить! Как бонус, это еще и вкусненько)))
      .reviews__item
        h4 Ирина Зарубина
        p Я достигла своей главной цели – снижения веса, питаюсь набором «Лайт» 20 недель и с тем, что было, когда я просто ходила на тренировки 2 раза в неделю, не сравнить! Как бонус, это еще и вкусненько)))
      .reviews__item
        h4 Ирина Зарубина
        p Я достигла своей главной цели – снижения веса, питаюсь набором «Лайт» 20 недель и с тем, что было, когда я просто ходила на тренировки 2 раза в неделю, не сравнить! Как бонус, это еще и вкусненько)))
      .reviews__item
        h4 Ирина Зарубина
        p Я достигла своей главной цели – снижения веса, питаюсь набором «Лайт» 20 недель и с тем, что было, когда я просто ходила на тренировки 2 раза в неделю, не сравнить! Как бонус, это еще и вкусненько)))

      
      