.steps
  .l-container
    .l-row
      h2 Как сделать заказ?
    .l-row.steps__wrapper
      .steps__item
        img.steps-item__icon(src="/img/icons/step1.svg" alt="")
        .steps-item__number 1
        p.steps-item__desc Выберите план питания согласно Вашим целям.
        
      .steps__item
        img.steps-item__icon(src="/img/icons/step2.svg" alt="")
        .steps-item__number 2
        p.steps-item__desc Оформите заказ на сайте или по телефону.

      .steps__item
        img.steps-item__icon(src="/img/icons/step3.svg" alt="")
        .steps-item__number 3
        p.steps-item__desc Каждый день мы бесплатно доставляем готовую еду в любую точку Москвы и Подмосковья.


      .steps__item
        img.steps-item__icon(src="/img/icons/step4.svg" alt="")
        .steps-item__number 4
        p.steps-item__desc Осталось только разогреть. Приятного аппетита!
      