.why-us
  .l-container
    .l-row
      h1.font-weight-200 Почему Killer–Fat подходит именно вам?
    .l-row.why-us__info
      h4 Полноценный рацион на день!
      p Для поддержания тонуса организм нуждается в правильном балансе питательнывх веществ, которые поступают с пищей. Мы все рассчитали за Вас! Выберите программу питания, поторая подходит именно Вам!
    .l-row.why-us__info.ml-a
      h4 Держим баланс!
      p Наш диетолог совместно с шеф-поваром составили вкусное и полезное меню согласно Вашей диете, соблюдая принципы калорийности с правильным соотношением жиров, белков и углеводов.
    .l-row.why-us__info
      h4 Готовим и привозим каждый день!
      p Чтобы Вы могли наслаждаться вкусной, свежей едой с пользой для фигуры, ежедневно мы готовим блюда и доставляем прямо к Вам домой в день приготовления.
    .l-row.why-us__info.ml-a
      h4 Вы свободны!
      p Вам больше не нужно готовить, ходить по магазинам, и мыть посуду. Каждый день Вы получаете вкусно приготовленные блюда здоровой кухни и посвящаете освободившееся время любимым занятиям!

      