.why-us
  .l-container
    .l-row
      h1.font-weight-200 Почему KillerFat подходит именно вам?
    .l-row.why-us__info
      h4 1. Полноценный рацион на день
      p Мы соблюдаем принципы калорийности, тщательно считаем калории в наших рационах, взвешиваем порции и ингредиенты подобно тому, как это делают в лабораториях.
    .l-row.why-us__info.align-content-end
      h4 1. Полноценный рацион на день
      p Мы соблюдаем принципы калорийности, тщательно считаем калории в наших рационах, взвешиваем порции и ингредиенты подобно тому, как это делают в лабораториях.
    .l-row.why-us__info
      h4 1. Полноценный рацион на день
      p Мы соблюдаем принципы калорийности, тщательно считаем калории в наших рационах, взвешиваем порции и ингредиенты подобно тому, как это делают в лабораториях.
    .l-row.why-us__info.align-content-end
      h4 1. Полноценный рацион на день
      p Мы соблюдаем принципы калорийности, тщательно считаем калории в наших рационах, взвешиваем порции и ингредиенты подобно тому, как это делают в лабораториях.
    .l-row.why-us__info
      h4 1. Полноценный рацион на день
      p Мы соблюдаем принципы калорийности, тщательно считаем калории в наших рационах, взвешиваем порции и ингредиенты подобно тому, как это делают в лабораториях.
      