.advantages
  padding: 80px 0 120px 0 
  background-image: url('/img/advantages-bg.jpg')
  background-size: cover
  background-position: center center
  color: $white
  &__items-wrapper
    margin: 0 -20px
    width: auto
  &__item
    margin: 32px 20px
    flex: 0 0 calc(100% / 4 - 40px)
  &-item__num
    font-size: 22px
    font-weight: bold
    color: $text-primary-l-1
  &-item__text
    font-size: 18px
    font-weight: 1.5