doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Killer Fat – Доставка блюд здоровой кухни
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/owl.carousel.min.css')
  link(rel='stylesheet', href='css/owl.theme.default.min.css')
  link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
body
  
  //= templates/header.pug
  //= templates/hat.pug
  //= templates/steps.pug
  //= templates/menu.pug
  //= templates/ration.pug
  //= templates/why-us.pug
  //= templates/gallery.pug
  //= templates/reviews.pug
  //= templates/advantages.pug
  //= templates/contact.pug
  //= templates/questions.pug
  //= templates/footer.pug

  //= templates/modal.pug

  
script(src='js/main.js')
